---
import SectionLayout from '@components/SectionLayout.astro';
import Layout from '../layouts/Layout.astro';
import Badge from '@components/Badge.astro';
import SocialPill from '@components/SocialPill.astro';
import GithubIcon from '@components/icons/GithubIcon.astro';
import LinkedInIcon from '@components/icons/LinkedInIcon.astro';
import MailIcon from '@components/icons/MailIcon.astro';
import Experience from '@sections/Experience.astro';
import Projects from '@sections/Projects.astro';
import AboutMe from '@sections/AboutMe.astro';
import ContactMe from '@sections/ContactMe.astro';
---

<Layout title='Portfolio LeoLizc | Ingeniero de Sistemas'>
  <main class=''>
    <SectionLayout class='pt-52 !pb-32 !h-[100svh] flex items-center'>
      <div>
        <h1
          class='text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-5 items-center mb-4'
        >
          ¡Hola! Soy Leonardo
          <a
            href='https://www.linkedin.com/in/leonardo-lizcano-pinto0220/'
            class='flex items-center hover:scale-105 transition'
            target='_blank'
            rel='noreferrer noopener'
          >
            <Badge>Disponible para trabajar</Badge>
          </a>
        </h1>
        <h2 class='text-2xl dark:text-sky-300 mb-5'>
          Ingeniero de sistemas titulado. Desarrollador web backend con
          conocimientos en frontend. Y aficionado a la inteligencia artificial.
        </h2>
        <nav class='flex my-5 gap-2'>
          <a href='https://github.com/LeoLizc'>
            <SocialPill text='Github' hiddenText='Leolizc'>
              <GithubIcon />
            </SocialPill>
          </a>
          <a href='https://www.linkedin.com/in/leonardo-lizcano-pinto0220/'>
            <SocialPill text='LinkedIn' hiddenText='Leonardo Lizcano'>
              <LinkedInIcon />
            </SocialPill>
          </a>
          <SocialPill text='Email' hiddenText='leolizcanop@gmail.com'>
            <MailIcon />
          </SocialPill>
        </nav>
      </div>
    </SectionLayout>
    <SectionLayout title='Experiencia' id='experiencia'>
      <Experience />
    </SectionLayout>
    <SectionLayout title='Proyectos' id='proyectos'>
      <Projects />
    </SectionLayout>
    <SectionLayout title='Sobre mí' id='sobre-mi'>
      <AboutMe />
    </SectionLayout>
    <SectionLayout title='Contáctame' id='contacto'>
      <ContactMe />
    </SectionLayout>
  </main>
</Layout>
