---
interface Props {
  title?: string;
  class?: string;
  id?: string;
}

const { class: className = '', id, title } = Astro.props;
---

<section {...{ id }} class={`w-full lg:w-[740px] py-16 px-4 pb-8 ${className}`}>
  {
    title && (
      <>
        <h2 class='text-3xl lg:text-4xl font-semibold text-gray-300/95 mb-2 flex items-center gap-2'>
          <slot name='icon' />
          {title}
        </h2>
        <hr class='h-px mb-8 bg-gray-200 border-0 dark:bg-gray-700' />
      </>
    )
  }
  <slot />
</section>
