---
import { parse } from 'marked';
const content = `Mi interés por la programación surgió en la secundaria, cuando desarrollé un sistema de inventario en **VBA** y, recientemente, he completado mis estudios de pregrado en **Ingeniería de Sistemas** en la *Universidad del Norte*.

Durante mi formación, participé en eventos como *Expofísica*, con un simulador de físicas realistas. También destacé en **maratones de programación** en la institución, y tuve la oportunidad de participar en iniciativas apoyadas por la universidad.

A nivel personal, me fascinan la **automatización** y la **inteligencia artificial**. He desarrollado proyectos para *controlar* partes de mi casa con un **asistente virtual**. Además, disfruto desarrollando **mods** y explorando nuevos hobbies como **tallar madera**.
`;
// Second paragraph: , principalmente como **desarrollador de Backend**
// Third paragraph: Estoy siempre en busca de nuevas experiencias.
---

<div
  class='flex flex-col md:flex-row justify-center items-center gap-4 px-2 md:px-0'
>
  <input type='checkbox' name='luSecret' id='luSecret' class='hidden' />
  <label for='luSecret' class='rounded-full size-60 relative shrink-0 group'>
    <img
      class='rounded-full size-60 absolute top-0 left-0 transition-transform duration-500 [#luSecret:checked+label_&]:rotate-y-180 [backface-visibility:hidden]'
      width='200'
      height='200'
      src='/imgs/avatar.webp'
      alt='Foto de Leo'
      loading='lazy'
      decoding='async'
      style={{ shapeOutside: 'circle(20%)' }}
    />
    <div
      class='absolute top-0 left-0 rounded-full size-60 bg-gradient-to-br from-[#0093E9] to-[#80D0C7] -rotate-y-180 transition-transform duration-500 [#luSecret:checked+label_&]:rotate-y-0 [backface-visibility:hidden] text-center py-4 px-4 flex justify-center items-center'
    >
      También tengo a la mejor amiga del mundo, pero eso es un secreto a voces
      🤫
    </div>
  </label>
  <div
    class='[&>p]:mb-4 md:[&>p]:text-right [&>p]:text-left [&>p]:font-medium [&>p>strong]:text-yellow-300 [&>p>em]:text-cyan-400 [&>p]:text-pretty'
    set:html={parse(content)}
  >
    <!-- <Markdown options={{
      forceBlock: true,
      wrapper: React.Fragment,
    }}
    > -->
    <!-- </Markdown> -->
  </div>
</div>
<!-- <p>
  Soy Leonardo Lizcano, aunque pueden decirme simplemente Leo. Incurcioné en el mundo de la programación en la secundaria, haciendo un sistema de inventario y facturación en VBA. Desde entonces me he interesado mucho en los sistemas automatizados y acabo de terminar mis estudios de grado universitario en Ingeniería de Sistemas en la Universidad del Norte.
</p>
<p>
  Durante mi periodo de estudios participé en eventos como la feria Expofísica con un simulador con físicas realistas de salto de Bungee Jumping junto a mi equipo, o en maratones de programación internas promovidas por el grupo estudiantil de ACM, de las cuales gané la mayoría. También tuve la oportunidad de participar en iniciativas apoyadas por la universidad como la estrategia Misión Tic, Simet, o Eyeland, junto a Epics IEEE.
</p>
<p>
  A nivel personal me atraen los sistemas de automatización e inteligencia artificial, por lo que he llegado a desarrollar algunos proyectos para controlar ciertos elementos eléctricos de mi casa de forma inalámbrica con un asistente virtual, así como también he diseñado algunos simuladores con físicas realistas.
  Entre mis hobbies se encuentra hacer mods para algunos juegos con amigos, tallar madera o hacer manualidades pero siempre estoy buscando algo nuevo que probar.
</p> -->
