---
import ExperienceItem from '@components/ExperienceItem.astro';
import useI18N from '@i18n/index';
const { EXPERIENCES: experiences } = useI18N(Astro).main;
---

<ol class='relative ml-4 border-s border-gray-200 dark:border-gray-700'>
  {
    experiences.map((experience) => (
      <li class='mb-10 ms-6'>
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
